[Desktop Entry]
Version=2.2.1
Name=HotShots
Comment=Screenshot manager
Type=Application
GenericName=Screenshot manager
TryExec=/usr/bin/hotshots
Exec=/usr/bin/hotshots 
Categories=Utility;Application;
Icon=/usr/share/pixmaps/hotshots.png
MimeType=application/x-hot;
